p {
  margin-bottom: 0.3rem;
  font-size: 16px;
}


button {
  padding: 2px 6px;
  font-size: 16px;

  &.addButton, &.closeButton {
    margin-bottom: 1rem;
  }
}


.add-food-button {
  background-color: transparent;
  border: none;
  color: #000;
  text-decoration: underline;
  outline: none;
  cursor: pointer;
}

.add-food-button:hover {
  font-weight: bold;
}
