.food-list {
  list-style-type: none;
  padding: 0;
}

.food-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.food-item p {
  margin-right: 0.5rem;
  font-size: 16px;
  color: #333;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: #f00;
  outline: none;
  cursor: pointer;
}

.add-food-button {
  background-color: #3c9b4c;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 8px 12px; /* Ajusta el padding a tu preferencia */
  font-size: 14px; /* Ajusta el tamaño de fuente a tu preferencia */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.add-food-button:hover {
  background-color: hsl(131, 40%, 25%);
}

.add-food-button.custom-color {
  color: black;
  background-color: #dceab2;
}
