<!-- <div class="meal-wrapper"> -->
  <h1>{{ meal }} - {{ mealCalories }}</h1>
  <!-- <span class="calories-label">kcal</span>
</div> -->
<div *ngFor="let item of foods; let i = index">
  <p id="{{item.food.id}}" class="food-item">{{i + 1}} - {{item.food.name}} <button class="removeButton" (click)="removeItem(i, item.food.id!)"><i class="fas fa-trash"></i></button></p>
</div>
<button class="add-food-button" id="{{meal}}" (click)="anadirAlimentoModal()"><i class="fas fa-plus"></i> Añadir alimento</button>
