// .meal-wrapper {
//   display: flex;
//   align-items: baseline;
// }

// .calories-label {
//   margin-left: 0.25rem;
//   font-size: 18px;
//   // font-weight: bold;
// }

.food-calories {
  opacity: 0.75;
}
.food-grams {
  opacity: 0.75;
}

.food-list {
  list-style-type: none;
  padding: 0;
}

.food-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.food-item p {
  margin-right: 0.5rem;
  font-size: 16px;
  color: #333;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: #f00;
  outline: none;
  cursor: pointer;
}

.add-food-button {
  background-color: #3c9b4c;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 16px;
  margin: 5px 0px 20px 0px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-food-button:hover {
  background-color: hsl(131, 40%, 25%);
}
