<app-fecha #appFecha (diaIncrementado)="onDiaIncrementado($event)" (diaDecrementado)="onDiaDecrementado($event)"></app-fecha>
<div class="main-content">
  <main class="beautiful-card m-5 p-5">
    <app-meal [meal]="'Desayuno'" [foods]="getMealFoods('BREAKFAST')"></app-meal>
    <app-meal [meal]="'Comida'" [foods]="getMealFoods('LUNCH')"></app-meal>
    <app-meal [meal]="'Cena'" [foods]="getMealFoods('DINNER')"></app-meal>
    <app-meal [meal]="'Snacks'" [foods]="getMealFoods('SNACKS')"></app-meal>
  </main>
</div>

<div class="half-circle-container">
  <button mat-mini-fab class="half-circle left">
    <span class="top">Calorías restantes</span>
    <span class="bottom">{{leftCalories}}</span>
  </button>

  <button mat-mini-fab class="half-circle right">
    <span class="top">Calorías consumidas</span>
    <span class="bottom">{{caloriasConsumidas}}</span>
  </button>

  <button mat-mini-fab class="half-circle center">
    <span class="top">Calorías totales</span>
    <span class="bottom">{{leftCalories + caloriasConsumidas}}</span>
  </button>
</div>
