<div class="row">
  <h1 class="main-content d-flex justify-content-center mb-4">
      Diario
  </h1>
</div>
<app-fecha></app-fecha>
<div class="main-content">
  <main>
    <app-meal [meal]="'Desayuno'"></app-meal>
    <app-meal [meal]="'Comida'"></app-meal>
    <app-meal [meal]="'Cena'"></app-meal>
    <app-meal [meal]="'Snacks'"></app-meal>
  </main>
</div>

<button mat-mini-fab class="half-circle" (click)="openDialog()">
  <span class="top">Calorías restantes</span>
  <span class="bottom">{{calories}}</span>
</button>
