
.beautiful-card {
  border: 1px solid #a8c4cc;
  padding: 25px 10px 25px 20px;
  border-radius: 5px;
  background-color: #A8CCC9;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6);
}


.half-circle-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 380px; /* Ajusta el ancho según tus necesidades */
  margin: 0 auto;
  margin-top: 40px;
}

.half-circle {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  background: linear-gradient(to bottom, #000000 50%, #ffffff 50%);
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.half-circle:not(:last-child) {
  margin-right: 20px; /* Ajusta el margen lateral entre los círculos */
}

.half-circle .top,
.half-circle .bottom {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.half-circle .top {
  top: 29%;
  color: rgb(226, 226, 226);
  font-weight: bold;
  font-size: 14px;
}

.half-circle .bottom {
  top: 70%;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.left .bottom {
  color: green;
}

.right .bottom {
  color: red;
}

.center .bottom {
  color: blue;
}

.mat-mini-fab {
  width: 100%;
  height: 100%;
  padding: 0;
}

@media (min-width: 992px) {
  .responsive-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
