<div class="row">
  <h4
    class="main-content d-flex justify-content-center"
    style="margin-bottom: 24px"
  >
    Calorías
  </h4>
</div>
<div class="row">
  <div class="fixed-width d-flex justify-content-center align-items-baseline">
    <h5>{{ dato }} &nbsp;&nbsp;</h5>
    <h5 *ngIf="!editarDato">{{ datoPrincipal }} {{ tipo }} &nbsp;&nbsp;</h5>
    <div *ngIf="editarDato" class="input-group">
      <input
        type="number"
        class="form-control form-control-sm"
        [(ngModel)]="nuevoDato"
      />
      <div class="input-group-append">
        <button class="btn btn-success" (click)="guardarDato()">Guardar</button>
        <button class="btn btn-danger" (click)="cancelarDato()">
          Cancelar
        </button>
      </div>
    </div>

    <button
      class="btn btn-primary"
      *ngIf="!editarDato"
      (click)="editarDato = true"
    >
      Editar
    </button>
    &nbsp;
    <button class="btn btn-warning" (click)="recalcularKcal()" [disabled]="disableRecalculator.disableButtonRecalculate">
      Recalcular
    </button>
  </div>
</div>
<br />
<div class="row">
  <label class="main-content d-flex justify-content-center">
    Tu determinación es la clave para alcanzar tus metas saludables.</label
  >
</div>
