.mat-dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
  position: absolute;
  right: 10px;
  top: 10px;
}
