<div class="row">
    <div class="col">
        <div class="input-group mb-3">
            <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Buscar alimentos">
        </div>
    </div>
</div>

<div class="wrapper card-columns" align="center" borde="black" style="width: 400px; margin:10px;column-count: 3;">
    <div class="card" *ngFor="let foods of food | filtro: searchText">
        <div class="card-body">
            <div class="row">
                <h3> {{ foods.name }}</h3>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <app-personal-image></app-personal-image>
                </div>
                <div class="col-6">
                    <p class="card-text">Kcal: {{ foods.kcal}}</p>
                    <p class="card-text">Protx: {{ foods.proteins}}</p>
                    <p class="card-text">Carbs: {{ foods.carbs}}</p>
                    <p class="card-text">Fats: {{ foods.fats}}</p>
                </div>
            </div>
            <br />
            <div class="example-button-row">
                <div class="example-flex-container">
                    <div class="example-button-container">
                    <button mat-mini-fab color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
