.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 540px;
    background-color: #b9b9b9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .arrow:hover {
    background-color: #0056b3;
  }
  
  .arrow i {
    font-size: 18px;
  }
  
  .date {
    font-size: 24px;
    margin: 0 20px;
  }
  