<div *ngIf="isLogged()" class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <img
      src="../../../../assets/FitCal.png"
      alt="Logo"
      class="logo"
      (click)="toggleCollapse()"
    />
    <div class="logo-text" @fadeInOut *ngIf="collapsed">FitCal</div>
    <button
      class="btn-close"
      @rotate
      *ngIf="collapsed"
      (click)="closeSidenav()"
    >
      <i class="fal fa-times close-icon"></i>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a
        class="sidenav-nav-link"
        [routerLink]="[data.routeLink]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
          {{ data.label }}
        </span>
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" (click)="toggleTheme()">
        <i class="sidenav-link-icon" [class]="themeIcon"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
          Cambiar tema
        </span>
      </a>
    </li>


  </ul>
</div>
