<div class="row mx-4">
  <div class="col">
    <div class="input-group align-items-baseline">
      <mat-form-field class="flex-grow-1 me-2">
        <input
          type="text"
          matInput
          [(ngModel)]="searchText"
          placeholder="Buscar alimentos"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
</div>

<div *ngIf="(foods | filtro: searchText).length === 0"  class="row">
  <div class="message-container">
      <p>El alimento que buscas no está en la base de datos. ¿Desea crearlo?</p>
      <div class="input-group-append">
        <button class="btn btn-primary ms-2" (click)="openCreateFood()">
          Crear Alimento
        </button>
      </div>
  </div>
</div>

<!-- food-> name, kcal, proteins, carbs, fats -->
<section *ngIf="datosEncontrados" class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-4 p-2" *ngFor="let food of foods | filtro: searchText; let i = index">
        <div
          class="card text-white card-has-bg click-col"
          [style.backgroundImage]="'url(https://source.unsplash.com/600x900/?healthy,gym,fitness,exercise,health,wellness,' + i + ')'"
        >
          <img
            class="card-img d-none"
            src="https://source.unsplash.com/600x900/?healthy,gym,fitness,exercise,health,wellness"
            alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?"
          />
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <small class="card-meta mb-2">{{food.brand}}</small>
              <h4 class="card-title mt-0">
                <a class="text-white" herf="#"
                  >{{food.name}}</a
                >
              </h4>
              <small class="d-hover-none"><b><i class="fas fa-fire"></i> Calorías: {{ food.kcal }}</b></small><br>
              <div class="d-none d-hover-flex">
                <small><b><i class="fas fa-fire"></i> Calorías: {{ food.kcal }}</b></small><br>
                <small><b><i class="fas fa-bread-slice"></i> Carbos: {{ food.carbs }}</b></small><br>
                <small><b><i class="fas fa-cheese"></i> Grasas: {{ food.fats }}</b></small><br>
                <small><b><i class="fas fa-drumstick-bite"></i> Proteínas: {{ food.proteins }}</b></small>
              </div>
            </div>
            <div class="card-footer">
              <div class="media">
                <app-food-image
                class="mr-3 d-hover-transparent"
                [imageUrl]="food.image"
                [editMode]="false">
                </app-food-image>
              </div>
            </div>
            <div *ngIf="!habilitarEditar" id="anadirAliment" class="example-button-row">
              <div class="example-flex-container">
                  <div class="example-button-container">
                    <button (click)="anadirAlimento(food)" mat-mini-fab color="primary">
                        <mat-icon>add</mat-icon>
                    </button>
                  </div>
              </div>
            </div>
            <div *ngIf="habilitarEditar" class="example-button-row">
              <div class="example-flex-container">
                  <div class="example-button-container">
                    <button (click)="openUpdateFood(food)" mat-mini-fab color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
