<button mat-icon-button style="float:right">
    <mat-icon> close </mat-icon>
</button>
<mat-dialog-content>
    <header class="justify-content-center">
        <h1> Metas </h1>
    </header>
    <body>
        <div class="row">
            <div class="col-6">
                <label> Peso Actual </label>
            </div>
            <div class="col-6">
                <label> X kg </label>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label> Meta Semanal </label>
            </div>
            <div class="col-6">
                <select name="metaSemanal" id="lang">
                    <option value="poco">Perder 0.75 kg por semana</option>
                    <option value="php">PHP</option>
                    <option value="java">Java</option>
                    <option value="golang">Golang</option>
                    <option value="python">Python</option>
                    <option value="c#">C#</option>
                    <option value="C++">C++</option>
                    <option value="erlang">Erlang</option>
                </select>             
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label> Nivel activo </label>
            </div>
            <div class="col-6">
                <select name="nivelActivo" id="lang">
                    <option value="activo">Activo</option>
                    <option value="php">PHP</option>
                    <option value="java">Java</option>
                    <option value="golang">Golang</option>
                    <option value="python">Python</option>
                    <option value="c#">C#</option>
                    <option value="C++">C++</option>
                    <option value="erlang">Erlang</option>
                  </select>            
            </div>
        </div>
        <br>
        <div class="row">
            <label> Ingesta calórica diaria recomendada: 2000 </label>            
        </div>
    </body>

</mat-dialog-content>