<button mat-icon-button style="float:right">
    <mat-icon> close </mat-icon>
</button>
<mat-dialog-content>
    <header class="justify-content-center">
        <h1> Metas </h1>
    </header>
    <body>
        <div class="row">
            <div class="col-6">
                <label> Peso Actual </label>
            </div>
            <div class="col-6">
                <label> X kg </label>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label> Meta Semanal </label>
            </div>
            <div class="col-6">
                <select name="metaSemanal" id="lang">
                    <option value="ganar1000">Ganar 1kg a la semana</option>
                    <option value="ganar750">Ganar 0.75kg a la semana</option>
                    <option value="ganar500">Ganar 0.5kg a la semana</option>
                    <option value="ganar250">Ganar 0.25kg a la semana</option>
                    <option value="mantener">Mantenimiento</option>
                    <option value="perder250">Perder 0.25kg a la semana</option>
                    <option value="perder500">Perder 0.5kg a la semana</option>
                    <option value="perder750">Perder 0.75kg a la semana</option>
                    <option value="perder1000">Perder 1kg a la semana</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label> Nivel activo </label>
            </div>
            <div class="col-6">
                <select name="nivelActivo" id="lang">
                    <option value="pocoActivo">Poco Activo</option>
                    <option value="algoActivo">Algo Activo</option>
                    <option value="activo">Activo</option>
                    <option value="muyActivo">Muy Activo</option>
                  </select>
            </div>
        </div>
        <br>
        <div class="row">
            <label> Ingesta calórica diaria recomendada: 2000 </label>
        </div>
    </body>

</mat-dialog-content>
