<div class="d-flex align-items-center">
    <h5 class="me-3">{{ selectTipo }}</h5>
    <div class="flex-grow-1">
      <select class="form-select" [(ngModel)]="selectedOption">
        <ng-container *ngIf="selectTipo === 'Meta Semanal:'">
          <option *ngFor="let option of metasSemanal" [value]="option.value">{{ option.label }}</option>
        </ng-container>
        <ng-container *ngIf="selectTipo === 'Nivel de Actividad:'">
          <option *ngFor="let option of nivelActivo" [value]="option.value">{{ option.label }}</option>
        </ng-container>
      </select>
    </div>
  </div>


<!-- <div class="red-border">
    <h3 class="justify-content-center"> Metas </h3>
    <div class="row ">
            <div class="col-6">
                <h4> Meta Semanal </h4>
            </div>
            <div class="col-6">
                <select class="form-select" name="metasSemanal" id="lang" [(ngModel)]="metasSemanal">
                    <option *ngFor="let option of metasSemanal" [value]="option.value">{{ option.label }}</option>
                  </select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <label> Nivel activo </label>
            </div>
            <div class="col-6">
                <select class="form-select" name="nivelActivo" id="lang">
                    <option value="pocoActivo">Poco Activo</option>
                    <option value="algoActivo">Algo Activo</option>
                    <option value="activo">Activo</option>
                    <option value="muyActivo">Muy Activo</option>
                </select>
            </div>
        </div>
        <br>
</div> -->
