<app-fecha></app-fecha>


<div class="card m-5 py-1 px-3">
  <div class="card-body">
      <div class="container beautiful-card">
        <div class="pie" [chart]="donutChart"></div>
      </div>
    </div>
</div>


<div class="card m-5">
  <div class="card-body">
    <h5 class="card-title">Alimentos consumidos</h5>
    <table class="table">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Alimento</th>
          <th>Carbos</th>
          <th>Proteínas</th>
          <th>Grasas</th>
          <th>Calorías</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let day of datosDiaArray">
          <ng-container *ngFor="let foodInstance of getSortedFoodInstances(datosFoodInstance); let i = index">
            <tr [ngClass]="{ 'thick-row': shouldAddThickRow(datosFoodInstance, i) }">
              <td>{{ foodInstance.mealType }}</td>
               <!-- <td>{{ getFoodName(datosFoodInstance[i].id!) }}</td>
              <td>{{ getFoodCarbs(datosFoodInstance[i].id!) }}</td>
              <td>{{ getFoodProteins(datosFoodInstance[i].id!) }}</td>
              <td>{{ getFoodFats(datosFoodInstance[i].id!) }}</td>
              <td>{{ getFoodCalories(datosFoodInstance[i].id!, datosFoodInstance[i].id!) }}</td> -->
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
