<app-fecha (diaIncrementado)="onDiaIncrementado($event)" (diaDecrementado)="onDiaDecrementado($event)"></app-fecha>


<div class="card m-5 py-1 px-3">
  <div class="card-body">
      <div class="container beautiful-card">
        <div class="pie" [chart]="donutChart"></div>
      </div>
    </div>
</div>


<div class="card m-5">
  <div class="card-body">
    <h5 class="card-title">Alimentos consumidos</h5>
    <table class="table">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Alimento</th>
          <th>Carbos</th>
          <th>Proteínas</th>
          <th>Grasas</th>
          <th>Calorías</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let day of mockUser.days">
          <ng-container *ngFor="let foodInstance of getSortedFoodInstances(day.foodInstances); let i = index">
            <tr [ngClass]="{ 'thick-row': shouldAddThickRow(day.foodInstances, i) }">
              <td>{{ foodInstance.mealType }}</td>
              <!-- <td>{{ getFoodName(foodInstance.food_id) }}</td>
              <td>{{ getFoodCarbs(foodInstance.food_id) }}</td>
              <td>{{ getFoodProteins(foodInstance.food_id) }}</td>
              <td>{{ getFoodFats(foodInstance.food_id) }}</td>
              <td>{{ getFoodCalories(foodInstance.food_id, foodInstance.grams) }}</td> -->
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
