<app-fecha (diaIncrementado)="onDiaIncrementado($event)" (diaDecrementado)="onDiaDecrementado($event)"></app-fecha>


<div class="card m-5 py-1 px-3">
  <div class="card-body">
      <div class="container beautiful-card">
        <div class="pie" [chart]="donutChart"></div>
      </div>
    </div>
</div>


<div class="card m-5">
  <div class="card-body">
    <h5 class="card-title">Alimentos consumidos</h5>
    <table class="table">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Alimento</th>
          <th>Carbos</th>
          <th>Proteínas</th>
          <th>Grasas</th>
          <th>Calorías</th>
        </tr>
      </thead>
      <tbody>
        <!-- <ng-container *ngFor="let foodInstance of getSortedFoodInstances(foodInstances); let i = index"> -->
        <ng-container *ngFor="let foodData of foodDataArray; let i = index">
          <tr [ngClass]="{ 'thick-row': shouldAddThickRow(foodDataArray, i) }">
            <td>{{ foodData.foodInstance.mealType }}</td>
            <td>{{ foodData.food.id }}</td>
            <td>{{ foodData.food.carbs }}</td>
            <td>{{ foodData.food.proteins }}</td>
            <td>{{ foodData.food.fats }}</td>
            <td>{{ foodData.food.kcal }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
