<div>
  <!-- Display the chart based on the weight data -->
  <!-- Use a chart library like Chart.js or ngx-charts to render the chart -->
  <!-- Refer to the library documentation for chart configuration options -->

  <!-- Example using ngx-charts -->
  <div class="d-flex justify-content-center">
    <ngx-charts-bar-vertical
      [view]="view"
      [scheme]="colorScheme"
      [results]="chartData"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Date"
      yAxisLabel="Weight"
    ></ngx-charts-bar-vertical>
  </div>

  <!-- Display the weight data in a table -->
  <table class="weight-table mt-2">
    <thead>
      <tr>
        <th class="text-center">Date</th>
        <th class="text-center">Weight</th>
        <th class="text-center">
          <button class="btn btn-success" (click)="openNewWeightDayComponent()">
            <i class="fas fa-plus"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let weightDay of weightDays">
        <td class="text-center">{{ weightDay.date }}</td>
        <td class="text-center">{{ weightDay.weight }}</td>
        <td class="text-center">
          <button class="btn btn-primary mb-2" (click)="editWeightDay(weightDay)">
            <i class="fas fa-edit"></i>
          </button>
          <br>
          <button class="btn btn-danger" (click)="deleteWeightDay(weightDay)">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
