<div>
  <!-- Display the chart based on the weight data -->
  <!-- Use a chart library like Chart.js or ngx-charts to render the chart -->
  <!-- Refer to the library documentation for chart configuration options -->

  <!-- Example using ngx-charts -->
  <div class="d-flex justify-content-center">
    <ngx-charts-bar-vertical
    [view]="view"
    [scheme]="colorScheme"
    [results]="chartData"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    xAxisLabel="Date"
    yAxisLabel="Weight"
    ></ngx-charts-bar-vertical>
  </div>

  <!-- Display the weight data in a table -->
  <table class="weight-table mt-2">
    <thead>
      <tr>
        <th>Date</th>
        <th>Weight</th>
        <th>✅</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let weightDay of weightDays">
        <td>{{ weightDay.date }}</td>
        <td>{{ weightDay.weight }}</td>
        <td>✏️</td>
      </tr>
    </tbody>
  </table>
</div>
