<div>
  <h4 class="d-flex justify-content-center mt-4">Registro de peso</h4>

  <div class="d-flex justify-content-center mt-4">
    <ngx-charts-bar-vertical
      [view]="view"
      [scheme]="colorScheme"
      [results]="chartData"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Fecha"
      yAxisLabel="Peso"
    ></ngx-charts-bar-vertical>
  </div>

  <!-- Display the weight data in a table -->
  <table class="weight-table mt-2">
    <thead>
      <tr>
        <th class="text-center">Fecha</th>
        <th class="text-center">Peso</th>
        <th class="text-center">
          <button class="btn btn-success" (click)="openNewWeightDayComponent()">
            <i class="fas fa-plus"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let weightDay of weightDays">
        <td class="text-center">{{ weightDay.date }}</td>
        <td class="text-center">{{ weightDay.weight }}</td>
        <td class="text-center width-25">
          <button class="btn btn-primary me-2" (click)="editWeightDay(weightDay)">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-danger" (click)="deleteWeightDay(weightDay)">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
