h1 {
  text-align: center;
}

.imagenYTexto {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.profile-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

#imageInput {
  display: none;
}
