<div *ngIf="!user" >
    <div class="main-content d-flex justify-content-center">
        <img src="../../../../assets/FitCal.png" alt="Logo" class="logo"/>
    </div>
    <h3 class="display-4 text-center" style="color:white; align-items: center;">
        ¡Bienvenido a FitCal!
    </h3>
    <!-- <h5 class="text-center" style="color:white">
        Mantén un registro de todo lo que has comido durante el día
        y lleva un control de tu alimentación de manera fácil y sencilla.
        Además, podrás disfrutar de una autenticación rápida y segura a través
        de tu cuenta de Google. ¡Comienza a cuidar tu salud hoy mismo!
    </h5>     -->
    <h5 class="text-center justify-content-center" style="text-align: justify; color:white">
        Sabemos que una buena salud comienza con una buena alimentación.
        Con nuestra aplicación, podrás prestar la atención necesaria a tus
        hábitos alimenticios. Controla tus comidas, conoce tus patrones y
        alcanza tus objetivos de una manera fácil y efectiva.
    </h5>
    <br>
    <div class="main-content d-flex justify-content-center">
        <asl-google-signin-button type="standard" size="large"></asl-google-signin-button>
    </div>
    <div class="underlay-photo"></div>
    <div class="underlay-black"></div>
</div>
<div *ngIf="user">
    <div class="main-content d-flex justify-content-center">
        <main>
            <div class="imagenYTexto">
                <h1> Perfil de Usuario </h1>
                <h4>{{ user.name }}</h4>
                <img src="{{user.photoUrl}}">
            </div>
            <div class="row">
                <div class="col-6 red-border">
                    <div class="row ">

                    <h4 class="d-flex justify-content-center" style="margin-bottom: 24px;">
                        Datos personales
                    </h4>
                    <app-personal-information class="d-flex justify-content-center"
                        [dato]="'Edad:'"
                        [datoPrincipal]="'0'"
                        [tipo]="'años'"
                    >
                    </app-personal-information>
                    <app-personal-information class="d-flex justify-content-center"
                        [dato]="'Altura:'"
                        [datoPrincipal]="'0'"
                        [tipo]="'cm'"
                    >
                    </app-personal-information>
                    <app-personal-information class="d-flex justify-content-center"
                        [dato]="'Peso:'"
                        [datoPrincipal]="'0'"
                        [tipo]="'kg'"
                    >
                    </app-personal-information>
                    <app-personal-information class="d-flex justify-content-center"
                        [dato]="'Genero:'"
                        [datoPrincipal]="'0'"
                        [tipo]="'cal'"
                    >
                    </app-personal-information>
                    </div>
                </div>
                <div class="col-6 red-border">
                    <h4 class="main-content d-flex justify-content-center" style="margin-bottom: 24px;">
                        Metas
                    </h4>
                    <app-goal-dialog [selectTipo]="'Meta Semanal:'"></app-goal-dialog>
                    <br>
                    <app-goal-dialog [selectTipo]="'Nivel de Actividad:'"></app-goal-dialog>
                </div>
            </div>
            <br />
            <div class="row red-border">
                <app-calories-profile
                    [dato]="'Calorias:'"
                    [datoPrincipal]="'0'"
                    [tipo]="'cal'">
                </app-calories-profile>
            </div>
            <br>
            <div class="row">
                <button type="button" data-toggle="modal" data-target="#exampleModal" (click)="abrirModal()" class="d-flex justify-content-center btn btn-success"> Guardar </button>
            </div>
            <br>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> ¿Deseas guardar los cambios?</h5>
                    <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                </div>
            </div>

        </main>
    </div>
</div>
